<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hfh5sdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    
    <!-- 好付sdk -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 好付sdk-end -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 好付sdk -->
        <activity android:name="cn.okpay.android.sdkhelper.DYH5Activity" />
        <activity android:name="cn.okpay.android.sdkhelper.PayLoadingActivity" android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="cn.okpay.android.sdkhelper.ProtoCashierActivity" android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation" />
         <!-- 好付sdk end -->
            
    </application>

</manifest>
